@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner{
  background-image: url('./public//images/banner.png');
  background-size: 265%;
  background-position: 56% 55%;
}

.nav-selected::after {
  position: absolute;
  content: "";
  background: #AA6666;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -1px;

}

.text-vertical {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}

.bg-custom-white {
  background-color: #FFFFFF;
}
.bg-custom-black {
  background-color: #000000;
}
.bg-custom-brown {
  background-color: #AA6666;
}
.bg-custom-khaki {
  background: #DCCCBC;
}


.text-custom-black {
  color: #000000;
}
.text-custom-brown {
  color: #AA6666;
}
.text-custom-white {
  color: #ffffff;
}

.border-custom-brown {
  border-color: #AA6666;;
}
