@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner {
  background-image: url("/images/banner.png");
  background-size: 265%;
  background-position: 56% 55%;
}

.nav-selected {
  @apply text-custom-brown py-1 w-fit;
}

.nav-selected::after {
  position: absolute;
  content: "";
  background: #aa6666;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -1px;
}

.text-vertical {
  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;
}

@layer utilities {
  .bg-custom-white {
    background-color: #ffffff;
  }
  .bg-custom-black {
    background-color: #000000;
  }
  .bg-custom-brown {
    background-color: #aa6666;
  }
  .bg-custom-khaki {
    background: #dcccbc;
  }

  .text-custom-black {
    color: #000000;
  }
  .text-custom-brown {
    color: #aa6666;
  }
  .text-custom-white {
    color: #ffffff;
  }

  .border-custom-brown {
    border-color: #aa6666;
  }
}
